import colors from './util/colors';

class {
  onInput(input) {
    input.colors = input.colors || colors();

    this.state = {
      backgroundColor: input.colors[0]
    };
  }

  onColorSelected(backgroundColor) {
    this.state.backgroundColor = backgroundColor;
  }
}

<color-picker-header background-color=state.backgroundColor/>
<color-picker-footer colors=input.colors on-colorSelected('onColorSelected')/>
