class {
  onInput(input) {
    input.colors = input.colors || [
      '#ff0000',
      '#008000',
      '#0000ff',
      '#ffa500',
      '#ffff00'
    ];

    this.state = {
      backgroundColor: input.colors[0]
    };
  }

  onColorSelected(backgroundColor) {
    this.state.backgroundColor = backgroundColor;
  }
}

<color-picker-header backgroundColor=state.backgroundColor/>
<color-picker-footer colors=input.colors on-colorSelected('onColorSelected')/>
